.css-hip9hq-MuiPaper-root-MuiAppBar-root{
  display: flex;
  flex-direction: row !important;
  align-items: center;
  justify-content: center;
}

.form-container {
    display: flex;
    align-items: center;
}

.ant-drawer .ant-drawer-body {
  padding: 15px 10px;
}
